*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #efefef;
    font-family: 'Rubik', sans-serif;
}
/*  =====================================
 Navigation 
 =======================================*/
.navigation{
    width: 20%;
    height: 100vh;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigation .logo{
    padding: 20px;
}
.navigation .menu ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 15px;
}
.navigation .menu ul li{
   padding-top: 5px;
   color: #f7f7f7;
   background-color: black;
   margin: 6px;
   text-align: center;
   margin-left: -15px;
   height: 55px;
}
.navigation .menu ul li img{
    top: 5px;
    height: 30px;
    width: 30px;
 }
 .navigation .menu ul li .item{
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
 }
 .navigation .upgrade {
    height: 30vh;
    width: 90%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    padding-left: 25px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #F4F7F5;
    justify-content: center;
 }
 .navigation .upgrade p{
    margin-block: 0;
    position: relative;
    align-content: center;
    padding-right: 20px;
 }
 .navigation .upgrade button{
   height: 40px;
   width: 200px;
   background-color: #2a9d8f;
   border: 0px;
   box-shadow: 0px;
   border-radius: 10px;
   box-shadow: inset 0 0 0 0 #af3e4d;
   transition: ease-out 0.3s;
 }
 .navigation .upgrade .upgrade-button:hover{
    box-shadow: inset 200px 0 0 0 #af3e4d;
 }
.navigation .upgrade .upgrade-button button :hover{
    color: #fff;
}



/*  =====================================
 MAIN
 =======================================*/
.main{
    width: 80%;
    margin-left: 20%;
}

/* header section */
.main .title nav{
    display: flex;
    background-color: #f7f7f7ff;
    justify-content: space-between;
    padding-left: 3%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.main .title nav h1{
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main .title nav .search{
    width: 45%;
}
.main .title nav .search img{
    padding: 10px 20px 0px 10px;
}
.main .title nav .search input{
    border-radius: 10px;
    border-color: #f7f7f7; 
    padding: 10px 20px 5px 10px;
    background-color: #f7f7f7;
    border: solid 1px #b2b2b2;
    color: -internal-light-dark(none) #f7f7f7;
    width: 55%;
    box-shadow: none;
    margin-bottom: 10px;
}


/* doughnut-box */

.main .doughnut-box{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 10px;
}
.main .doughnut-box .glaze{
    display: flex;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 10px;
    width: 30%;
}
.main .doughnut-box .glaze .doughnut {
    height: 135px;
    width: 135px;
}
.main .doughnut-box .glaze .percentage{
    position: absolute;
    padding: 40px 50px;
}
.main .doughnut-box .glaze p{
    position: relative;
    margin: 50px 0px 10px 40px;
}




/* table */
.main .table table{
    width: 95%;
    margin: 10px 20px 10px 30px;
    padding: 10px 10px 10px 20px;
    background-color: #f7f7f7;
    border-radius: 10px ;
    box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
}
.main .table table th{
    text-align: left;
    color: #f7f7f7;
    background-color: #000;
    height: 40px;
}
.main .table table th,
.main .table table td{
    padding: 10px;
}

/* advert */
.main .advert{
    display: flex;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin: 10px 20px 10px 30px;
    justify-content: space-between;
    height: 250px;
}
.main .advert .text{
    padding-left: 20px;
    padding-bottom: 10px;
}
.main .advert .text h1{
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.main .advert .text p{
    width: 500px;
}
.main .advert .image img{
    height: 200px;
    width: 250px;
}
.main .advert .text a{
    text-decoration: none;
    padding: 15px 50px;
    background: #fff;
    color:#af3e4d;
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}
.main .advert .text a::after,
.main .advert .text a::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #fff;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.main .advert .text a:hover{
    transform: translate(-12px, -12px);
}
.main .advert .text a:hover::after{
    transform: translate(6px, 6px);
}
.main .advert .text a:hover::before{
    transform: translate(12px, 12px);
}



/* ========================================
Media queries 
===========================================*/

@media only screen and (max-width: 600px){
    
    /* navigation */
    section.navigation{
        display: block;
        position: relative;
        width: 100vw;
        height: fit-content;
        z-index: 10;
    }
    section.navigation .menu ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
    section.navigation .menu ul li{
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }
    section.navigation .upgrade{
        height: 15vh;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        align-content: space-between;
    }
    section.navigation .upgrade button{
        position: absolute;
        width: 30%;
        height: 30%;
        margin: 15% 0% 0% 60%;
    }
    section.navigation .upgrade img{
        position: absolute;
        height: 100%;
        width: 30%;
        align-self: flex-start;
    }
    section.navigation .upgrade p{
        position: absolute;
        align-self: top;
        margin-left: 30%;
    }


    /*===============
    MAIN 
    ==================*/

    div.main{
        width: 100%;
        z-index: 10;
        margin-left: 5px;
    }
  /* header section */
    div.main .title nav{
        display: block;
    }
    div.main .title nav h1{
        width: 100%;
    }
    div.main .title nav .search{
        width: 100%;
    }


  /* statistics */
    div.main section.statistics .doughnut-box{
        display: block;
        width: 100%;
    }
    div.main section.statistics .doughnut-box .glaze{
        width: 95%;
        margin: 10px;
    }
    div.main section.statistics .table table{
        width: 95%;
        margin: 0 0 10px 0;
        padding: 0;
    }
    div.main section.advert{
        margin: 0;
        padding: 0;
        height: 300px;
        width: 100%;
    }
    .main .advert .text {
        width: 250px;
    }
    div.main section.advert .text h1{
        font-size: 25px;
    }
    .main .advert .text p{
        font-size: 12px;
        width: 100%;
    }
    .main .advert .text a{
        padding: 10px 30px;
    }
    .main .advert .image{
        width: 150px;
        height: 250px;
    }


}

@media only screen and (max-width: 900px){
    section.navigation .logo img{
        width: 120px;
    }
    section.navigation .upgrade{
        padding-left: 5px;
    }
    section.navigation .upgrade img{
        width: 100px;
        height: 100px;
    }
    section.navigation .upgrade button{
        width: 100px;
    }

    .main .doughnut-box{
        flex-wrap: wrap;
    }
    .main .doughnut-box .glaze{
        width: 45%;
        margin: 5px;
    }

}
